.bottom {
  margin-top: -450px;
}

@media (max-width: 1000px) {
  .bottom {
    margin-top: -300px;
  }
  h2 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .bottom {
    margin-top: -100px;
  }
  h2 {
    font-size: 15px;
  }
}
