img {
  /* width: 100%;
  height: 100vh; */
  position: relative;
}

.content {
  color: white;
  position: absolute;
  right: 20%;
  top: 50%;
  z-index: 2;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}
