.single_movie {
  width: 100%;
  position: relative;
  height: 720px;
  background-repeat: no-repeat;
  /* background-position: left; */
  background-size: 75% 100%;
  background-position: right center;
}
.single_movie::after {
  content: "";
  background: linear-gradient(to right, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  height: 100%;
  width: 30%;
  position: absolute;
  bottom: 0px;
  left: 25%;
  z-index: 1;
}
.single_movie::before {
  content: "";
  background: linear-gradient(to top, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 31%;
  z-index: 1;
}
.img_single {
  width: 100%;
}
.contents {
  color: white;
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 2;
}
.imdb {
  display: flex;
  gap: 10px;
  align-items: center;
}
.listGenres li {
  background-color: hsl(0, 0%, 16%);
  padding: 2px;
}
