.single_movie {
  width: 100%;
  position: relative;
}
.single_movie::after {
  content: "";
  background: linear-gradient(to left, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 0px;
  right: -1px;
  z-index: 1;
}
.single_movie::before {
  content: "";
  background: linear-gradient(to top, rgb(28, 28, 28), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 31%;
  z-index: 1;
}
.img_single {
  width: 100%;
}
.contents {
  color: white;
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: 2;
  direction: ltr;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}
