/* .card {
} */
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.movieList {
  position: relative;
  width: 100%;
  height: 250px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
}
.movieList img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.movieList::after {
  content: "";
  color: rgb(255, 255, 255);
  background-color: rgba(28, 28, 28, 0.8);
  transition: 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
}
.movieList:hover::after {
  opacity: 1;
}

.movieList:hover .info {
  opacity: 1;
}

.info {
  position: absolute;
  left: 10px;
  bottom: 0px;
  opacity: 0;
  z-index: 2;
  text-align: left;
}
.info h5 {
  margin: 10px 0;
}
