.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(54, 54, 54);
  cursor: pointer;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
}
.footer_r {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_l {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer h6 {
  font-size: 12px;
  margin: 0;
}
.show {
  opacity: 1;
}
@media (max-width: 768px) {
  .footer h6 {
    font-size: 9px;
    margin: 0;
  }
  .footer_l {
    display: none;
  }
}
