@font-face {
  font-family: vazirmatn;
  src: url("/font/Vazirmatn-SemiBold.woff2") format("woff2");
}
body {
  /* direction: rtl; */
  color: #f5f4f4;
  font-family: "vazirmatn", sans-serif;
  margin: 0;
}
/* .container {
  width: 70%;
} */
.right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo {
  width: 150px;
}
.logo img {
  display: block;
  width: 100%;
  height: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
  /* grid-template-columns: 8rem auto max-content; */
  font-size: 14px;
  padding: 15px 125px;
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 70px;

  transition: transform 0.3s ease, opacity 0.3s ease;
  box-sizing: border-box;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  align-items: center;
  cursor: pointer;
}
.menu .menu_item {
  display: flex;
  gap: 20px;
}
.menu .menu_item .menu_list_sub {
  display: flex;
  align-items: center;
}
.register {
  display: flex;
  align-items: center;
}
.register button {
  border-radius: 5px;
  cursor: pointer;
  font-family: "vazirmatn";
  padding: 4px 14px;
  font-size: 14px;
}
.register .sell {
  background-color: #ededed;
  border: 1px solid #ededed;
  margin: 0 24px;
}
.register .inter {
  background-color: #8f8f80;
  border: 1px solid #8f8f80;
  color: #fff;
}
.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
.categori:hover {
  border-bottom: red solid 1px;
  cursor: pointer;
}
.categori,
.categori:visited,
.categori:hover,
.categori:active {
  color: #fff;
  text-decoration: none;
}
.sub_menu {
  position: absolute;
  top: 57%;
  left: 16%;
  background-color: hsl(0, 0%, 16%);
  width: 280px;
  padding: 10px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.5s ease;
}

.menu_list_sub:hover .sub_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sub_menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.sub_menu ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 13px;
}
.sub_menu ul li a:hover {
  color: #fff;
  background-color: hsl(0, 0%, 27%);
  border-radius: 4px;
  width: 100%;
  display: block;
}
