body {
  color: #f5f4f4;
  margin: 0;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
}
.header {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr) 15fr 1fr 1fr;
  padding-top: 15px;
  z-index: 2;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: visible;
}
.header span {
  font-size: 12px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
  width: 80px;
}
.menu_item {
  display: flex;
  gap: 20px;
}
.menu_list_sub {
  display: flex;
  align-items: center;
  position: relative;
}
.sub_menu {
  position: absolute;
  top: 60%;
  left: 10%;
  background-color: hsl(0, 0%, 16%);
  width: 280px;
  padding: 10px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.subscrib {
  background-color: #ededed;
  border: 1px solid #ededed;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
}
.signin {
  background-color: #8f8f80;
  border: 1px solid #8f8f80;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
}
.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
.categori:hover {
  border-bottom: red solid 1px;
  cursor: pointer;
}
.categori,
.categori:visited,
.categori:hover,
.categori:active {
  color: #fff;
  text-decoration: none;
}
.menu_list_sub:hover .sub_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sub_menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.sub_menu ul li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 13px;
}
.sub_menu ul li a:hover {
  color: #fff;
  background-color: hsl(0, 0%, 27%);
  border-radius: 4px;
  width: 100%;
  display: block;
}
.showSearch {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.searchBox {
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.searchButton {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}
.openSearch {
  grid-template-columns: repeat(3, 1fr) 15fr 1fr 1fr;
}
.openSearch .menu_item {
  display: none;
}
.menuMobile {
  display: none;
}
@media (max-width: 768px) {
  .menuMobile {
    display: flex;
    align-items: center;
  }
  .menu_list_sub {
    display: none;
  }
  .menu_item {
    display: none;
  }
  .logo img {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
  }
}
