.ccc {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.ccc ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.ccc ul li {
  width: calc(20% - 15px);
}
.ccc ul li img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
