.ccc {
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.ccc ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.ccc ul li {
  width: calc(20% - 15px);
}
.ccc ul li h5 {
  margin: 4px 0 16px 0;
}
.ccc ul li img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 5s ease;
}
.ccc ul li img:hover {
  transform: scale(1.5);
}
.ccc ul li .imgegenres {
  width: 100%;
  height: 200px;
}
