.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  justify-content: center;
  gap: 15px;
  padding-top: 100px;
}

.show img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
