.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  justify-content: center;
  gap: 15px;
}
/* .list {
  width: calc(100% / 6 - 15px);
} */
.show img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
