.vige ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 0;
  list-style: none;
}
.vige ul li {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.vige ul li img {
  width: 100%;
  aspect-ratio: 10/7;
  /* height: 200px; */
  display: block;
  cursor: pointer;
  border-radius: 10px;
}
.vige ul li .info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  padding: 10px;
}
.vige h2 {
  color: #fff;
  position: relative;
  font-size: 20px;
}
.vige ul li .info h6 {
  font-size: 15px;
}
.vige ul li:hover .info {
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 1;
}
@media (max-width: 900px) {
  .vige ul li .info h6 {
    font-size: 12px;
  }

  .vige ul li .info p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .vige ul li .info h6 {
    font-size: 10px;
  }

  .vige ul li .info p {
    font-size: 12px;
  }
}
