@font-face {
  font-family: vazirmatn;
  src: url("/font/Vazirmatn-SemiBold.woff2") format("woff2");
}
body {
  background-color: rgba(28, 28, 28);
}
a {
  text-decoration: none;
}
.style.slider_main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider {
  position: relative;
}
.bg {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border-radius: 5px;
  padding-top: 100px;
  transition: background-image 0.5s;
}
.overlay {
  z-index: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1px;
  height: 36%;
  background: linear-gradient(to top, hsl(0, 0%, 11%), rgba(0, 0, 0, 0));
}
.title {
  position: absolute;
  color: #fff;
  right: 10%;
  top: 35%;
}
.tittle_button {
  border-radius: 5px;
  background: rgb(143, 143, 143, 0.5);
  cursor: pointer;
  color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}
.tittle_button svg {
  display: block;
}

.arrow {
  position: absolute;
  bottom: 50%;
  left: 5%;
  display: flex;
  gap: 10px;
}
.arrow_button {
  border-radius: 50px;
  background-color: rgb(143, 143, 143, 0.5);
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border: 1px rgb(143, 143, 143, 0.5);
}
.svg_l {
  position: absolute;
  left: 28%;
  top: 22%;
}
.svg_r {
  position: absolute;
  left: 28%;
  top: 22%;
}
