@font-face {
  font-family: vazirmatn;
  src: url("/font/Vazirmatn-SemiBold.woff2") format("woff2");
}
body {
  background-color: rgba(28, 28, 28);
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mg56 {
  margin-top: 56px;
}
.mg {
  margin: 0;
}
.mgb8 {
  margin-bottom: 8px;
}
.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}
.gap10 {
  gap: 10px;
}
.gap5 {
  gap: 5px;
}
.alignitem {
  align-items: center;
}
.pdt10 {
  padding-top: 10px;
}
.fontsize5 {
  font-size: 8px;
}
.width25 {
  width: 25px;
}
.pdb16 {
  padding-bottom: 16px;
}
.pdb5 {
  padding-bottom: 5px;
}
.redHover:hover svg {
  fill: red;
}

@media (max-width: 768px) {
  .mg56 {
    margin-top: 26px;
  }
}
