.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #f5f4f4;
  font-family: "vazirmatn", sans-serif;
  margin: 0;
}
.mg56 {
  margin-top: 56px;
}
.mg {
  margin: 0;
}
.mgb8 {
  margin-bottom: 8px;
}
m .cursor {
  cursor: pointer;
}
.title:hover svg {
  fill: red;
}
.flex {
  display: flex;
  align-items: center;
}
