/* @font-face {
  font-family: vazirmatn;
  src: url("/font/Vazirmatn-SemiBold.woff2") format("woff2");
}
body {
  direction: rtl;
  color: #f5f4f4;
  font-family: "vazirmatn", sans-serif;
}
a {
  text-decoration: none;
}
h5 {
  font-family: "vazirmatn", sans-serif;
}
.container {
  width: 70%;
} */
