.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #f5f4f4;
  font-family: "vazirmatn", sans-serif;
  margin: 0;
}
.mg56 {
  margin-top: 56px;
}
.mg {
  margin: 0;
}
.mgb8 {
  margin-bottom: 8px;
}
.cursor {
  cursor: pointer;
}
.title:hover svg {
  fill: red;
}
.flex {
  display: flex;
  align-items: center;
}
.gap10 {
  gap: 10px;
}
.gap5 {
  gap: 5px;
}
.alignitem {
  align-items: center;
}
.pdt10 {
  padding-top: 10px;
}
.fontsize5 {
  font-size: 8px;
}
.width25 {
  width: 25px;
}
.pdb16 {
  padding-bottom: 16px;
}
