.container {
  width: 90%;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  direction: rtl;
  color: #f5f4f4;
  font-family: "vazirmatn", sans-serif;
  margin: 0;
}
.mg56 {
  margin: 56px 0;
}
.flex {
  display: flex;
  /* gap: 5px; */
  align-items: center;
}
